
/* Navigation Style 1 */
	
	#logo {
		background:url(../images/locwis-logo.png) 0 0px transparent;
		background-size:166px 71px;
		position:absolute;
		width:166px;
		height:71px;
		left:50%;
		margin-left:-83px;
		z-index:100;
		display:block;
	}
	
	#logo a{
		width:65px;
		height:65px;
		position:absolute;
	}
	
	.logo-back {
		transform: rotateY(-180deg);
	}

	#navigation-sticky-wrapper {
		height:45px;
	}

	.navbar-inner {
		background: none;
		box-shadow: none !important;
		min-height: 85px;
		line-height: 20px !important;
		transition: all 0.3s ease-out 0s;
		border-bottom: none !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
		background: #fff;
		box-shadow: 0px 2px 5px rgba(0,0,0,0.1)!important;
		z-index:10;		
	}

	.navbar {
		position: relative;
	}
	
	.navbar .nav {
		width:100%;
		text-align:center;		
	}

	.navbar .nav > li {
		float:none;
		display:inline-block;
		margin-top: 30px;
	}
	
	.navbar .nav > li.menu-1 {
		margin-right:45px;
	}
	
	.navbar .nav > li.menu-2 {
		margin-right:45px;
	}
	
	.navbar .nav > li.menu-3 {
		margin-right:45px;
	}
	
	.navbar .nav > li.menu-4 {
		margin-right:175px;
	}
	
	.navbar .nav > li.menu-5 {
		margin-right:25px;
	}
	
	.navbar .nav > li.menu-6 {
		margin-right:25px;
	}
	
	.navbar .nav > li.menu-7 {
		margin-right:25px;
	}
	
	.navbar .nav > li.menu-8 {
		margin-right:0px;
	}

	.navbar .nav > li > a {
		font-family: 'Montserrat', sans-serif;
		text-transform:uppercase;
		font-weight:400;
		font-size:14px;
		color: #999999;
		display: block;
		height: 100%;
		transition: all 0.3s ease-out 0s;
		line-height: 25px;
		text-shadow: none;
	}
	
	.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
		background: none;
		box-shadow: none;
		color: #222222;
		height: 100%;
		transition: all 0.3s ease-out 0s;	
	}
	
	.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
		color: #333;
		text-decoration: none;
		height: 100%;
		transition: all 0.3s ease-out 0s;
	}	
	
	.navbar .show-menu {
		float: right;
		width:30px;
		margin: 7px 30px 7px 10px;
		height: 31px;
		padding:2px;
		background:url(../images/responsive-menu.png) no-repeat 2px 2px;
		background-size:30px 30px;
		cursor:pointer;
		border-radius:3px;
		opacity:0.7;
		display:none
	}
	
	.navbar .show-menu:hover {
		opacity:1;
	}
	
	
	
@media only screen and (max-width: 1300px) {	

	.navbar .nav > li.menu-1 {
		margin-right:25px;
	}
	
	.navbar .nav > li.menu-2 {
		margin-right:25px;
	}
	
	.navbar .nav > li.menu-3 {
		margin-right:275px;
	}
	
	.navbar .nav > li.menu-4 {
		margin-right:5px;
	}
	
	.navbar .nav > li.menu-5 {
		margin-right:5px;
	}
	
	.navbar .nav > li.menu-6 {
		margin-right:5px;
	}
	
	.navbar .nav > li.menu-7 {
		margin-right:5px;
	}
	
	.navbar .nav > li.menu-8 {
		margin-right:0px;
	}
	
}


@media only screen and (max-width: 1024px) {
	
	.navbar-inner {
		min-height: 45px!important;
		padding:0!important;
	}
	
	.nav-collapse {
		background-color:#f5f5f5;
		padding:0px 30px;
	}
	
	.navbar .nav > li {
		display: inline-block;
		float: left;
		width:100%;
		border-bottom: 1px dotted #CCCCCC;
	}
	
	.navbar .nav > li:last-child {
		border-bottom:none;
	}
	
	.navbar .nav {
		text-align: left;
		width: 100%;
	}
	
	.navbar .nav > li > a {
		padding: 8px 0px;
		font-family: 'Open Sans',serif;
		font-size:12px;
	}
	
	.navbar .show-menu {
		display:block;
	}
	
	.navbar .nav-collapse .nav.pull-right {
		float: left;
		margin:10px 0;
	}
	
	
	

}





@media only screen and (max-width: 767px) {
	
}



@media only screen and (max-width: 479px) {
	
}	