div.orgChart{
    margin: 0;
    background-color: transparent;
    width: 100%;
    border: none;
}
@media (max-width: 910px){
 /*   *{
        font-size: 1em;
    }
    */
    div.orgChart{
        margin: 0;
        display: none;
    }
    div.alert-chart{
        display: block;
    }
}
@media (min-width: 910px){
    div.alert-chart{
        display: none;
    }
}
div.orgChart div.node{
    padding: 5px;
    word-wrap: break-word;
    vertical-align: middle;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid black;
    background-color: #fff;
}
div.orgChart td div.node:hover{
    cursor: pointer;
    box-shadow: 4px 4px 6px #888888;
}
div.orgChart tr.lines td.right{
    border-left: 2px solid black;
}
div.orgChart tr.lines td.left{
    border-right: 2px solid black;
    float:none;
}
div.orgChart tr.lines td.top{
    border-top: 1px solid black;
}
/*
div.orgChart div.node.level0{
    background-color: #FFF;
}
div.orgChart div.node.level1{
    background-color: #FFF;
}
div.orgChart div.node.level2{
    background-color: #FFF;
}
div.orgChart div.node.level3{
    background-color: #FFF;
}
*/
.layer-chart {
    border: 1px solid #cccccc;
    overflow: scroll;
}
.active-node {background-color: #adb !important;}
.available-node {background-color: #eea !important;}
.active-select-node {box-shadow: 0px 0px 3px 3px #888 !important;;}
.nama-member {
    font-weight: bold;
    text-decoration: underline; 
}
.sponsor {
    font-size: 11px;
    display: block;
}
.active-sp {color: #4b6 !important;}

