@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon-q63zr3.eot');
	src:url('fonts/icomoon-.eot#iefixq63zr3') format('embedded-opentype'),
		url('fonts/icomoon-q63zr3.woff') format('woff'),
		url('fonts/icomoon-q63zr3.ttf') format('truetype'),
		url('fonts/icomoon-q63zr3.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-clip:before {
	content: "\e626";
}
.icon-anchor:before {
	content: "\e600";
}
.icon-arrow:before {
	content: "\e601";
}
.icon-bars:before {
	content: "\e602";
}
.icon-be-block:before {
	content: "\e603";
}
.icon-clock:before {
	content: "\e604";
}
.icon-cloud:before {
	content: "\e605";
}
.icon-comment:before {
	content: "\e606";
}
.icon-cup:before {
	content: "\e607";
}
.icon-dribble-block:before {
	content: "\e608";
}
.icon-drop:before {
	content: "\e609";
}
.icon-dropbox-block:before {
	content: "\e60a";
}
.icon-fb-block:before {
	content: "\e60b";
}
.icon-gallery:before {
	content: "\e60c";
}
.icon-grid:before {
	content: "\e60d";
}
.icon-heart:before {
	content: "\e613";
}
.icon-instgram-block:before {
	content: "\e614";
}
.icon-keynote-block:before {
	content: "\e615";
}
.icon-linkden-block:before {
	content: "\e616";
}
.icon-medal:before {
	content: "\e617";
}
.icon-mini-heart:before {
	content: "\e618";
}
.icon-mini-tv:before {
	content: "\e619";
}
.icon-mobile:before {
	content: "\e61a";
}
.icon-orbit:before {
	content: "\e61b";
}
.icon-pie:before {
	content: "\e61c";
}
.icon-Play:before {
	content: "\e61d";
}
.icon-plus-block:before {
	content: "\e61e";
}
.icon-ring:before {
	content: "\e61f";
}
.icon-satlite:before {
	content: "\e620";
}
.icon-setting:before {
	content: "\e621";
}
.icon-tele:before {
	content: "\e622";
}
.icon-thin-arrow:before {
	content: "\e623";
}
.icon-twitter-block:before {
	content: "\e624";
}
.icon-website:before {
	content: "\e625";
}
.icon-facebook:before {
	content: "\e60e";
}
.icon-twitter:before {
	content: "\e60f";
}
.icon-vimeo:before {
	content: "\e610";
}
.icon-dribbble:before {
	content: "\e611";
}
.icon-tumblr:before {
	content: "\e612";
}
